{
  "extends": "eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 10
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "semi": [
      "error",
      "never"
    ],
    "require-jsdoc": [
      "off"
    ],
    "lines-around-comment": [
      "off"
    ],
    "func-style": [
      "error",
      "declaration",
      { "allowArrowFunctions": true }
    ],
    "space-before-function-paren": [
      "error", {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "node/no-unsupported-features/es-syntax": [
      "off"
    ]
  }
}
